{
    "parser": "babel-eslint",
    "plugins": ["react"],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": ["error", "always"],
        "no-underscore-dangle": 0,
        "no-unused-vars": 2,
        "no-undef": 2,
        "no-trailing-spaces": 2,

        "react/jsx-uses-vars": 1,
        "react/jsx-pascal-case": 1,
        "react/jsx-closing-bracket-location": [1, "tag-aligned"],
        "react/jsx-space-before-closing": 1,
        "react/jsx-curly-spacing": 1,
        "react/no-string-refs": 1,
        "react/wrap-multilines": 1,
        "react/self-closing-comp": 1,
        "react/jsx-no-bind": [1, {"ignoreRefs": true}],
        "react/require-render-return": 1,
        "react/no-is-mounted": 1
    }
}
