@import 'mixins';
@import 'variables';

.image-gallery-index {
  background: rgba(34, 34, 34, .6);
  bottom: 80px;
  color: $ig-white;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  z-index: 1;
}
