$ig-screen-sm-min: 768px;
$ig-white: #ffffff;
$ig-black: #222222;
$ig-blue: #337ab7;

.ImageGallery {
  user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  .ImageGallery_content {
    position: relative;
    .ImageGallery_content_left_nav,
    .ImageGallery_content_right_nav {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      cursor: pointer;
      position: absolute;
      top: 48%;
      line-height: 0;
      z-index: 1;
      font-size: 6em;
      text-shadow: 0 1px 0 $ig-black;
      transition: all .2s ease-out;
      color: $ig-white;

      @media (max-width: $ig-screen-sm-min) {
        font-size: 4em;
      }

      &:hover {
        transform: scale(1.4);
        color: $ig-blue;
      }
    }

    .ImageGallery_content_left_nav {
      left: 15px;
      &:before {
        content: '‹';
      }
    }

    .ImageGallery_content_right_nav {
      right: 15px;
      &:before {
        content: '›';
      }
    }

    .ImageGallery_content_slides {
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      .ImageGallery_content_slides_slide {
        opacity: 0;
        display: inline-block;
        width: 100%;

        &.left, &.center, &.right {
          transition: all .45s ease-out;
          position: absolute;
          top: 0;
          left: 0;
        }

        &.left {
          -moz-transform: translate3d(-100%, 0, 0);
          -webkit-transform: translate3d(-100%, 0, 0);
          -o-transform: translate3d(-100%, 0, 0);
          -ms-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
        }

        &.center {
          opacity: 1;
          -moz-transform: translate3d(0, 0, 0);
          -webkit-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }

        &.right {
          -moz-transform: translate3d(100%, 0, 0);
          -webkit-transform: translate3d(100%, 0, 0);
          -o-transform: translate3d(100%, 0, 0);
          -ms-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
        }

        img {
          width: 100%;
        }

      }
    }

  }

  .ImageGallery_bullet_container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    .ImageGallery_bullet_container_bullets {
      margin: 0;
      padding: 0;

      .ImageGallery_bullet_container_bullets_bullet {
        cursor: pointer;
        padding: 5px;
        border: 1px solid $ig-white;
        box-shadow: 0 1px 0 $ig-black;
        margin: 0 5px;
        display: inline-block;
        border-radius: 50%;

        @media (max-width: $ig-screen-sm-min) {
          padding: 3px;
          margin: 0 3px;
        }

        &.active {
          background: $ig-white;
        }
      }
    }
  }

  .ImageGallery_thumbnail_container {
    overflow: hidden;
    background: $ig-white;
    padding-top: 10px;
    .ImageGallery_thumbnail_container_thumbnails {
      cursor: pointer;
      text-align: center;
      white-space: nowrap;
      transition: all .45s ease-out;

      .ImageGallery_thumbnail_container_thumbnails_thumbnail {
        padding-right: 10px;
        display: inline-block;

        img {
          width: 100px;
          vertical-align: middle;
          transition: border .3s ease-out;
          border: 4px solid transparent;
          @media (max-width: $ig-screen-sm-min) {
            width: 75px;
            border: 3px solid transparent;
          }
        }

        &.active {
          img {
            border: 4px solid $ig-blue;
            @media (max-width: $ig-screen-sm-min) {
              border: 3px solid $ig-blue;
            }
          }
        }
      }
    }
  }

}